<launch>

	<!-- Laser Assembler - Converts laser scans to a PointCloud2 message using the pan and tilt unit -->
  	<node type="laser_scan_assembler" pkg="laser_assembler" name="laser_scan_assembler" output="screen">
    		<param name="max_scans" type="int" value="100" />
    		<param name="fixed_frame" type="string" value="base_link" />
  	</node>

	<!-- PointCloud Generator - Tilts the laser and generates PointCloids -->
  	<node type="pointcloud_generator_node" pkg="hratc2015_entry_template" name="pointcloud_generator" output="screen">
		<param name="lower_tilt" value="0.0" />
		<param name="upper_tilt" value="0.5" />
		<param name="tilt_speed" value="0.4" />
	</node>

</launch>